body { font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:15px;
	
}
.menu {
	position:absolute;
	left: 600px;
	top: 100px;
	color:#ffffff;
}
.form {
	position:absolute;
	left: 400px;
	top: 200px;
	width:600px;
}
.note {
	width:auto;
	height:200px;
	size:37;
}
.info {
	position:absolute;
	left:300px;
	top:50px;
	color:#ffffff;
	font-size:30px;
}
